$black: #000000;
$light-black: #3E3E3E;
$grey: #B2B2B2;
$dark-grey: #626262;
$white: #FFFFFF;
$brand-red: #DE2B3D;
$border-hover-color: #AF910F;

$brand-blue: #42A0E0;
$brand-green: #2AB27B;
$brand-yellow: #ECB115;
$brand-dark-blue: #1C2E3A;
//$dark-grey: #4A4A4A;
$light-grey: #E5E5E5;
$llight-grey: #f6f6f6;
$radius: 4px;